/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Texturina';
    src: url('assets/fonts/Texturina_18pt-Light.ttf') format('truetype');
}

#grabFont {
    font-family: 'Texturina', serif;
}
